
  .nav{
      background-color: #296a9c;
      padding-top: 20px;
      padding-bottom: 20px;
  }
.nav ol li{
    text-decoration:none;
    text-decoration-style: none;
    display: inline;
}
.nav ol li a{
    text-decoration: none;
    color: rgb(146, 243, 245);
    font-size: large;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#h1{
    font-size:50px;
    font-family: cursive;
    padding-left: 100px;
}
#h2{
    font-size:30px;
    font-family: cursive;
    padding-left: 200px;
}
h2{
    font-size:30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#0e0e7a;
    padding:10px;
}

.abc{
    display:flex;
}

.def{
    padding:50px;
}

.text{
    border:2px solid #242582;
    margin-left: 10px;
    margin-right:850px;
    
}

.text1{
    margin-left: 20px;
}

ul{
    color: rgb(14, 36, 129);
}

ol{
    color: rgb(6, 11, 69);
}
 